<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap"
        rel="stylesheet">
</head>

<body>


    <form action="{% url 'polls:add_question' %}" method="POST">

        {% csrf_token %}

        <fieldset class="add">

            <legend>
                <h1>Submit New Questions Here: </h1>
            </legend>
            <div class="field">
                <h3>Enter question text and 2-5 possible answers</h3>

                <div class="input">
                    <label for="question_text">Question Text:</label>
                    <input type="text" name="question_text" id="question" placeholder="Your Question" required>
                </div>
                <div class="input">
                    <label for="choice1">Possible Answers:</label>
                    <input type="text" name="choice" id="choice1" placeholder="Choice 1" required>
                    <input type="text" name="choice" id="choice2" placeholder="Choice 2" required>
                    <input type="text" name="choice" id="choice3" placeholder="Choice 3 (optional)">
                    <input type="text" name="choice" id="choice4" placeholder="Choice 4 (optional)">
                    <input type="text" name="choice" id="choice5" placeholder="Choice 5 (optional)">
                </div>
                <div class="input">
                    <label for="topic">Topics - select all that apply and/or add a new topic:</label>
                    <select name="topic" multiple>
                        {% for topic in topics %}
                        <option value="{{ topic.id }}">{{ topic.topic_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="new_topic" id="new_topic" placeholder="New Topic (optional)">
                </div>

            </div>
        </fieldset>

        <button type="submit" value="add_question" class="btn2">Submit</button>

    </form>

    <div class="btns">
        <a href="{% url  'polls:questions' %}" class="btn">View All Question Categories</a>
        <a href="{% url 'polls:index' %}" class="btn">Back to Home Page</a>
    </div>

</body>

</html>