<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap"
        rel="stylesheet">
</head>

<body>
<!-- Home page for app -->
    <div class="welcome">
        <h1>Welcome to Polls</h1>
    </div>

    <div class="welcome2">
        <h2>Where voting is fun!</h2>
    </div>

    <!-- Show a success message if redirecting to this page after adding a question -->
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Display the 5 most recent questions list -->
    <div class="list">
    <h2>Most Recent Questions:</h2>

        {% if latest_questions %}
        <ul>
            {% for question in latest_questions %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

    <!-- Buttons for navigating site -->
    <div class="btns">
        <a href="{% url  'polls:questions' %}" class="btn">View All Question Categories</a>
        <a href="{% url 'polls:add_question' %}" class="btn">Add a Question</a>
    </div>

</body>

</html>