{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">

<div class="welcome">
<h1>Welcome to Polls!</h1>
<br>
<h2>View questions by categories or topics and vote on your favorite questions.</h2>
</div>

<div class=""
<h3><a href = "{% url  'polls:questions' %}">Question Categories</a></h3>
<h3>Question Topics:</h3>
{% if topic_list %}
    <ul>
        {% for topic in topic_list %}
        <li><a href = "{% url 'polls:topic' topic.id %}">{{ topic.topic_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no topics to display</p>
{% endif %}
<a href= "{% url 'polls:add_question' %}">Add a question</a>
