<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
</head>

<body>
    <h1>Question Categories</h1>

    <h3>Most Popular Questions:</h3>
    <button for="question1" id="question1btn" onclick="showQuestions('question1')">Click Here</button>
    <div class="question" id="question1" style="display: none;">
        {% if most_popular_question_list %}
        <ul>
            {% for question in most_popular_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no popular questions.</p>
        {% endif %}
    </div>

    <h3>Most Recent Questions:</h3>
    <button for="question2" id="question2btn" onclick="showQuestions('question2')">Click Here</button>
    <div  class="question" id="question2" style="display: none;">
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

    <h3>Oldest Questions:</h3>
    <button for="question3" id="question3btn" onclick="showQuestions('question3')">Click Here</button>
    <div  class="question" id="question3" style="display: none;"
    {% if earliest_question_list %}
    <ul>
        {% for question in earliest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% else %}
    <p>No polls are available</p>
    {% endif %}

    <h3>View All Questions:</h3>
    <button for="question4" id="question4btn" onclick="showQuestions('question4')">Click Here</button>
    <div  class="question" id="question4" style="display: none;"
    {% if all_question_list %}
    <ul>
        {% for question in all_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% else %}
    <p>No polls are available</p>
    {% endif %}


    <p><a href="{% url 'polls:index' %}">Back to Home Page</a></p>

    <script>

        function showQuestions(questionId) {
            let q = document.getElementById(questionId);
            if (q.style.display === "none") {
                q.style.display = "block";
            } else {
                q.style.display = "none";
            }
        }

    </script>

</body>

</html>

