<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
</head>

<body>
    <p>The most popular questions are:</p>
    <button for="question1" id="question1btn" onclick="showQuestions('question1')">Most popular questions</button>
    <div class="question" id="question1" style="display: none;">
        {% if most_popular_question_list %}
        <ul>
            {% for question in most_popular_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no popular questions.</p>
        {% endif %}
    </div>

    <p>The latest questions are:</p>
    <button for="question2" id="question2btn" onclick="showQuestions('question2')">Most recent questions</button>
    <div  class="question" id="question2" style="display: none;">
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>

    <p>The oldest questions are:</p>
    <button for="question3" id="question3btn" onclick="showQuestions('question3')">Oldest questions</button>
    <div  class="question" id="question3" style="display: none;"
    {% if earliest_question_list %}
    <ul>
        {% for question in earliest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% else %}
    <p>No polls are available</p>
    {% endif %}

    <script>

        function showQuestions(questionId) {
            let q = document.getElementById(questionId);
            if (q.style.display === "none") {
                q.style.display = "block";
            } else {
                q.style.display = "none";
            }
        }

    </script>

</body>

</html>

<p><a href="{% url 'polls:index' %}">Back to all Questions</a></p>