<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap" rel="stylesheet">
</head>

<body>
<div class="list">
    {% if list_name %}
    <h1>{{ list_name }}</h1> <!--Readable name-->
        {% if question_list %}
        <ul>
            {% for question in question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        {% else %}
        <p>There are no questions about {{ list_name }}</p>
        {% endif %}
    </ul>
    {% else %}
        <p>There are no questions about this topic.</p>
    {% endif %}
</div>

<a href="{% url 'polls:index' %}" class="btn">Back to Home Page</a>

</body>

</html>