<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap"
        rel="stylesheet">
</head>

<body>

    <h1 id="categories">Question Categories</h1>
    <div class="container">
        <div class="list">
            <h3>Question Topics:</h3>
            {% if topic_list %}
            <ul>
                {% for topic in topic_list %}
                <li><a href="{% url 'polls:topic' topic.id %}">{{ topic.topic_name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>There are no topics to display</p>
            {% endif %}
        </div>
        <div class="list">
            <h3>Question Lists:</h3>
            {% if all_lists %}
            <ul>
                {% for list_slug, list_info in all_lists.items %} # URL friendly name
                <li><a href="{% url 'polls:question_list' list_slug %}">{{ list_info.0 }}</a></li>
                # Readable name is used for link text
                {% endfor %}
            </ul>
            {% else %}
            <p>There are no lists of questions to display</p>
            {% endif %}
        </div>
    </div>
    <div class="container">

        <div class="categories" style="background-color: rgb(250, 164, 132);">
            <h2>Most Popular Questions:</h2>
            <button for="question1" id="question1btn" onclick="showQuestions('question1')">Click Here</button>
            <div class="question" id="question1" style="display: none;">
                {% if popular_questions %}
                <ul>
                    {% for question in popular_questions %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>There are no popular questions.</p>
                {% endif %}
            </div>
        </div>

        <div class="categories" style="background-color: rgb(252, 203, 228);">
            <h2>Most Recent Questions:</h2>
            <button for="question2" id="question2btn" onclick="showQuestions('question2')">Click Here</button>
            <div class="question" id="question2" style="display: none;">
                {% if latest_questions %}
                <ul>
                    {% for question in latest_questions %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>

        <div class="categories" style="background-color: rgb(196, 166, 223)">
            <h2>Oldest Questions:</h2>
            <button for="question3" id="question3btn" onclick="showQuestions('question3')">Click Here</button>
            <div class="question" id="question3" style="display: none;">
            {% if oldest_questions %} 
            <ul>
                {% for question in oldest_questions %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
            <p>No polls are available</p>
            {% endif %}
        </div>

        <div class="categories" style="background-color: rgb(166, 181, 223);">
            <h2>View All Questions:</h2>
            <button for="question4" id="question4btn" onclick="showQuestions('question4')">Click Here</button>
            <div class="question" id="question4" style="display: none;"> 
                {% if all_questions %} <ul>
                {% for question in all_questions %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
            <p>No polls are available</p>
            {% endif %}
        </div>

    </div>


    <p class="homelink"><a href="{% url 'polls:index' %}">Back to Home Page</a></p>

    <script>

        function showQuestions(questionId) {
            let q = document.getElementById(questionId);
            if (q.style.display === "none") {
                q.style.display = "block";
            } else {
                q.style.display = "none";
            }
        }

    </script>

</body>

</html>