.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background-color: peachpuff;
    font-family: Chicle;
}

button {
    border-radius: 4px;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.question {
    border-style: solid;
    border-color: black;
}

#question1btn {
    background-color: orangered;
}

#question2btn {
    background-color: hotpink;
}

#question3btn {
    background-color: blueviolet;
}

#question4btn {
    background-color: royalblue;
}

.welcome {
    text-align: center;
    background-color: orange;
    padding: 20px 0;
}
