body {
    background-color: #FFEADC;
    font-family: "Poppins";
    line-height: 2;
}

h1 {
    font-family: "Kalam";
    font-size: 50px;
    color: #18A2FF;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Kalam";
    color: #18A2FF;
}

.welcome {
    text-align: center;
    background-color: #FF7518;
    padding: 10px 0 20px 0;
}

.welcome h1 {
    text-align: center;
    color: black;
}

.welcome2 {
    text-align: center;
}

button {
    text-align: center;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categories {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 20px;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
    padding: 20px;
    line-height: 2;
}

#categories {
    margin: 32px 0;
    text-align: center;
}

#question1btn {
    background-color: orangered;
}

#question2btn {
    background-color: hotpink;
}

#question3btn {
    background-color: blueviolet;
}

#question4btn {
    background-color: royalblue;
}

a {
    color: black;
}

a:hover {
    color: #7518FF;
}

.options {
    padding: 20px;
    display: grid;
    justify-items: center;
}

.options a {
    color: black;
    padding: 20px 0;
}
 .options a:hover {
    color: #7518FF;
 }

.list {
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #FF7518;
    line-height: 2;
}

.recent h2 {
    color: #18A2FF;
}

fieldset {
    border-color: #FF7518;
    margin: 20px 0;
    padding-bottom: 20px;
}

.field {
    margin-top: -30px;
}

legend h1,
h2 {
    color: #18A2FF;
}

#btn {
    width: 200px;
    height: 50px;
    background-color: #18A2FF;
    font-size: 20px;
    margin: 10px 0;
}

#btn:hover {
    background-color: #0088E4;
}

a {
    color: black;
}

a:hover {
    color: #7518FF;
}

.homelink a {
    color: #FF182F;
    padding: 20px 0;
}

.homelink a:hover {
    color: #7518FF;
}

.topic {
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #FF7518;
    line-height: 2;
}

.topic h1 {
    margin: 0 0 0 20px;
}

.results {
    border-style: solid;
    border-color: #FF7518;
    margin: 20px;
    padding: 20px;
}

.results p {
    color: black;
    font-size: 20px;
}