body {
    background-color: #FFEADC;
    font-family: "Poppins";
    line-height: 2;
}

h1 {
    font-family: "Kalam";
    font-size: 50px;
    color: #18A2FF;
}

h2, h3, h4, h5, h6 {
    color: #18A2FF;
}

a {
    color: black;
}

a:hover {
    color: #7518FF;
}

.welcome {
    text-align: center;
    background-color: #FF7518;
    padding: 10px 0 20px 0;
}

.welcome h1 {
    text-align: center;
    color: black;
}

.welcome2 {
    text-align: center;
    font-family: "Kalam";
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
}

.btn {
    display: block;
    width: 300px;
    height: 50px;
    background-color: #7518FF;
    color: white;
    font-size: 20px;
    margin: 10px 0;
    justify-self: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    margin: 30px 0;
    padding: 8px;
    cursor: pointer;

}

.btn:hover {
    background-color: #18A2FF;
    color: black;
    text-decoration: underline;
}

.btn2 {
    width: 200px;
    height: 50px;
    background-color: #18A2FF;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.btn2:hover {
    background-color: #0088E4;
    text-decoration: underline;
}

.messages .success {
    color: green;
}

.list {
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #FF7518;
    line-height: 2;
}

.list h1 {
    margin: 0 0 0 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

fieldset {
    border-color: #FF7518;
    margin: 20px 0;
    padding-bottom: 20px;
}

.field {
    margin-top: -30px;
}

.input {
    padding: 20px;
}

.imput imput {
    height: 30px;
    width: 200px;
    margin: 10px;
}

.results {
    border-style: solid;
    border-color: #FF7518;
    margin: 20px;
    padding: 20px;
}

.results p {
    color: black;
    font-size: 20px;
}
